<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416430057607-gal8bvq4pvbblj8fqr0ubb11o1ej193e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416430057607-gal8bvq4pvbblj8fqr0ubb11o1ej193e</string>
	<key>API_KEY</key>
	<string>AIzaSyB-mzrrq14brDjFYYcp5Dv9RNSVJcb1ep4</string>
	<key>GCM_SENDER_ID</key>
	<string>416430057607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>fir-app-853f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-853f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416430057607:ios:84fe2bc3fb287b9dd07022</string>
</dict>
</plist>